<nav class="menu">
  <ul>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
  </ul>
</nav>
<form action="/logout" method="POST" style="margin-bottom: 20px;">
  <input type="submit" value="Logout">
</form>