<% if (user) { %>
  <form action="/logout" method="POST" style="margin-bottom: 20px; margin-left: 20px; text-align: center">
    <% if (user) { %>
      <%= user.email %>
    <% } %>
    <input type="submit" value="Logout" class="btn">
  </form>
<% } else { %>
  <nav class="navbar navbar-default">
    <ul>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
    </ul>
  </nav>
<% } %>