<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head.ejs %>
</head>
<body>
  <form action="/register" method="POST">
      Email:<br>
      <input type="email" name="email"><br>
      New Password:<br>
      <input type="password" name="password">
      <input type="submit" value="Register">
  </form>
  <a href="/login">Back</a>
</body>
</html>