<!DOCTYPE html>
<html lang = "en">
<head>
  <% include ./partials/head.ejs %>
</head>
<body>
<div class="container = fluid">

  <div style="color:blue;font-size:40px;text-align:center;margin-top: 20px;">TinyApp</div>
  <% include ./partials/_header.ejs %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>LongURL</th>
        <th>ShortURL</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= longURL %></td>
        <td><%= shortURL %></td>
      </tr>
      <tr>
        <td style="padding: 20px">
          <form action="/urls/<%= shortURL %>/edit" method="POST">
            <input style="width: 380px" type="text" name="longURL" value="http://">
            <input type="submit" value="Update">
          </form>
        </td>
        <td>
          <a href="/urls">See all URLS</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>

  <!-- <% include ./partials/_header.ejs %> -->